body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 800px;
  margin: 100px auto;
}

.inputs-group {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.wrapp-input {
  width: 200px;
  margin-right: 15px;
}

.btns-group {
  display: flex;
  justify-content: flex-start;
}

.wrapp-btn {
  margin-right: 15px;
}

.wrapp-input--last {
  display: flex;
  align-items: center;
}

.condition {
  display: flex;
  margin-bottom: 20px;
}

.delete-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

